a {
    text-decoration:  none;
    color: black;
}

a.flight:nth-of-type(3n) .row{
    background: lightgrey;
  }
  .title {
    padding: 10px;
  }
 .add-new-flight {
    border-radius: 5px;
    background-color: rgb(47, 47, 223);
    color: white;
    padding: 5px 10px;
  }